.kt-list-group{
    .list-group{
        margin-bottom: 0px;
        .list-group-item{
            border:none;
            .badge{
                background-color: #009688;
            }
        }
    }
}